header
{
background-color: rgb(255, 255, 255);
}
body
{
    margin-right: 2px;
}
.head
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}
.span1
{
    flex-grow: 1;
    margin-left: 20px;
}
.span
{
margin: 10px;
}
.nav
{
    margin: 10px;
    flex-grow: 1;
}
.nav a
{
    
    color: black;
    margin: 20px;
    text-decoration: none;
}
.nav a:hover
{
    color: rgba(24, 43, 189, 0.804);
    margin: 20px;
    text-decoration: none;
}

button
{
    border-radius: 20px;
    width: 80px;
    background-color: rgb(92, 200, 251);
    padding: 5px;
}
button:hover
{
    border-radius: 20px;
    width: 100px;
    padding: 5px;
    background-color: rgb(20, 89, 200);
    color: white;
}
main
{
    display: flex;
background-color: aliceblue;

}
.info
{
    display: flex;
    
}
.imgs
{
    
    width: 300px;
    transition: transform 1s ease-in-out;
}
.imgs:hover
{
    transition: 1s;
    transform: scale(1.1); 
}

.show h1
{
    font-family: 'Dancing Script', cursive; /* Use the Dancing Script font from Google Fonts */
    font-size: 30px;
    color: rgb(17, 190, 252);
}
.show
{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #696969; 
    transition: 1.5s;

}
.show:hover
{
    transition: 1s;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: rgb(33, 126, 208);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 89%, 0.808);
    border: 1px solid #696969; 
    box-shadow: 0 10px 20px rgb(125, 123, 123); 

}

.motivation
{
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: hsla(0, 0%, 89%, 0.808);
    border: 1px solid #696969; 

}
.dive h1
{
    font-family: 'Dancing Script', cursive; /* Use the Dancing Script font from Google Fonts */
    font-size: 30px;
    color: rgb(17, 190, 252);
}
.dive
{
    font-family: 'Arial', sans-serif; /* Specify the desired font */
    font-size: 18px; /* Set the base font size */
    line-height: 1.5; 
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    flex-grow: 1;


}


            /*IMG CSS*/
            /*IMG CSS*/

.slideshow-container {
    
    position: relative;
    margin: auto;
    width: 100%;

}

.mySlides {
    display: none;
    
}

.img {
width: 100%;
height: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

            /*IMG CSS*/
            /*IMG CSS*/
.divee
{

display: flex;
background-image: url('img/3.jpeg'); /* Replace 'background-image.jpg' with your image file */
background-size: cover; /* Cover the entire viewport */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-attachment: fixed; /* Fixed background while scrolling */


}
.moti
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(237, 249, 255, 0.879);
    margin: 25px;
    padding: 10px;
}
.moti:hover
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(175, 227, 255, 0.879);
    margin: 25px;
    padding: 10px;
}
.divee div
{
    margin-left: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.divee li
{
    display: flex;
    flex-direction: column;
}
.divee h3:hover
{
    display: flex;
    flex-direction: column;
    color: rgb(1, 42, 108);
}
.divee li:hover
{
    display: flex;
    flex-direction: column;
    color: rgb(1, 42, 108);
}
footer
{
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0%;
    bottom: 0;
    width: 100%;
    /*background-color: rgba(202, 235, 252, 0.879);*/
    justify-content: center;
}

.up-arrow-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}
.up-arrow-button  a{
    color: #fff;
    text-decoration: none;

}

.up-arrow-button  a:hover{
    color: #fff;
    text-decoration: none;

}
.up-arrow-button:hover {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}

.logos
{

    position: absolute;
    top: 100px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
    width: 100px;
    height: 100px;
    
    color: #fff;
    text-align: center;
    line-height: 100px;
}

